// Body padding
// -----------------------------
body
  // remove padding on homepage
  // &.home
  //   padding-top: 0

//
// Main container
//

#content
  position: relative
  z-index: 1

#main
  display: block
  position: relative
  z-index: 1
  min-height: 100vh
  > section
    position: relative
    z-index: 1


//
// Grid extra
//

.container
  @include mobile
    padding-left: $grid-padding/2
    padding-right: $grid-padding/2

// full width container
.container-fluid
  padding-left: $grid-padding
  padding-right: $grid-padding
  @include mobile
    padding-left: $grid-padding/2
    padding-right: $grid-padding/2

// narrow container
.container-narrow
  margin-left: auto
  margin-right: auto
  padding-left: $grid-padding
  padding-right: $grid-padding
  +fullhd
    width: $tablet + ($grid-padding * 2)
  +widescreen-only
    width: $tablet + ($grid-padding * 2)
  +desktop-only
    width: $tablet + ($grid-padding * 2)
  +tablet-only
    width: $tablet - ($grid-padding * 2)
  +mobile
    width: 90vw


.is-pull-left
  margin-right: auto

.is-pull-right
  margin-left: auto
