

// Figure defaults
// -----------------------------
figure
  figcaption
    position: relative
    margin-left: $grid-padding/4
    padding-top: 20px
    margin: 0
    font-weight: 300
    font-size: $size-6
    color: $grey
    &.wp-caption-text
      font-size: $size-7
    &:before
      content: ""
      display: inline-block
      width: 14px
      height: 1px
      position: absolute
      top: 9px
      left: 0
      border-top: 1px solid $grey-lighter

// figure positions
figure.alignleft,
img.alignleft
  display: inline-block
  float: left
  margin-left: -7.5vw
  margin-right: $grid-padding/2
  margin-bottom: $grid-padding/2

figure.alignright
img.alignright
  display: inline-block
  float: right
  margin-right: -7.5vw
  margin-left: $grid-padding/2
  margin-bottom: $grid-padding/2
