// body class
.page--loading
  cursor: wait

.barba-container
  position: relative
  background-color: $body-background
  min-height: 100vh


// page transitions container with panes
.page-loading--transition
  background-color: #fff !important
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100vw
  height: 100vh
  z-index: 10000
  pointer-events: none
  transition: opacity 500ms
  cursor: wait
  +centered-inner

  figure
    animation-name: revealVerticalIn
    animation-duration: 0.75s
    animation-fill-mode: backwards
    animation-delay: 1s
    // hidden by default
    display: none !important
    object
      height: 43px

    // show only once when site is loading
    .site--loading &
      display: inline-block !important

  .page--leaving &
    opacity: 1
    transition-duration: 0.5s
    pointer-events: all
    visibility: visible

  .page--entering &
    opacity: 0
    transition-duration: 0.5s
    pointer-events: none

    // slower on page init
  .page--entering.site--loading &
    transition-delay: 1s
    transition-duration: 2s
    figure
      animation-name: revealVerticalOut
      animation-duration: 500ms
      animation-fill-mode: forwards




// Each transition states :
// transform element before, between and when entering
// -----------------------------

.page--leaving

  [data-transition-fade]
    animation-name: fadeOut
    animation-iteration-count: 1
    animation-duration: 1s
    animation-delay: 0.55s
    animation-fill-mode: forwards
    &:nth-child(2)
      animation-delay: 0.75s
    &:nth-child(3)
      animation-delay: 0.9s
    &:nth-child(4)
      animation-delay: 1.5s

  [data-transition-slide-vertical]
    animation-name: slideOutDown
    animation-iteration-count: 1
    animation-duration: 1s
    animation-fill-mode: forwards
  [data-transition-slide-vertical]:nth-child(2)
    animation-delay: 0.25s
  [data-transition-slide-vertical]:nth-child(3)
    animation-delay: 0.5s

.page--entering
  [data-transition-fade]
    animation-name: fadeIn
    animation-iteration-count: 1
    animation-delay: 0.15s
    animation-duration: 0.75s
    animation-fill-mode: backwards
    &:nth-child(2)
      animation-delay: 0.35s
    &:nth-child(3)
      animation-delay: 0.45s
    &:nth-child(4)
      animation-delay: 0.65s

  [data-transition-slide-vertical]
    animation-name: slideInUp
    animation-iteration-count: 1
    animation-delay: 0.5s
    animation-duration: 1.25s
    animation-fill-mode: backwards
  [data-transition-slide-vertical]:nth-child(2)
    animation-delay: 0.75s
  [data-transition-slide-vertical]:nth-child(3)
    animation-delay: 1s
