// social links
// -----------------------------
.social-links
  li
    margin-bottom: 15px
  a
    position: relative
    font-size: 18px
    i
      display: inline-block
      font-size: 28px
      line-height: 16px
      width: 35px
      position: relative
      text-align: center
      bottom: -5px


// Read more link
// -----------------------------
.link--learn-more
  display: inline-block
  color: $grey-light
  position: relative
  padding-right: 25px
  transition: color 300ms
  +link-underline($grey-light, 0 100% 0 0, 0, left, 78%)

  i
    display: inline-block
    position: absolute
    right: 0
    top: 50%
    transform: translate3d(0,-50%,0)
    color: $black
    font-size: 20px
    line-height: 1


// Default button
// -----------------------------

.btn--outlined
  border: 1px solid $grey
  border-radius: 2px
  color: $black
  padding: 0.9rem 2rem 0.8rem 2rem
  font-size: 14px
  font-weight: 300
  background-color: $white
  cursor: pointer
  transition: all 500ms
  i
    display: inline-block
    font-size: 24px
    line-height: 12px
    width: 30px
    position: relative
    text-align: center
    bottom: -4px
  &:hover, &:active, &.active
    background-color: $black-ter
    border-color: $black-ter
    color: $white
