// zoom modal elements
[data-zoom-image]
	display: inline-block
	cursor: zoom-in

.wp-post-image
	height: auto
	max-width: 100%

.loading-content
	.b-lazy
		opacity: 0
		transition: opacity 1s
		&.b-loaded
			opacity: 1

.bg-cover
  background-size: cover
  background-position: center center
  background-color: $grey-dark

.b-lazy
	img.preload-pixel
		position: absolute
		top: 50%
		left: 50%
		display: block
		transform: scale(1.1,1.1) translate(-50%,-50%)
		-webkit-filter: blur(20px)
		filter: blur(20px)
		pointer-events: none
		z-index: 1
		// when entering
		.page--entering &
			animation-name: fadeIn
			animation-duration: 0.25s
			animation-iteration-count: 1

	&.b-loaded
		img.preload-pixel
			animation-name: fadeOut !important
			animation-duration: 1.5s
			animation-delay: 0.5s
			animation-fill-mode: forwards
			// .page--leaving &
			// 	// opacity: 1
			// 	animation-name: fadeIn


.bg-filled
	background-size: cover
	background-position: center center
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	z-index: 0

.bg-fixed
	background-attachment: fixed

.bg-centered
	background-position: center center

.bg-no-repeat
	background-repeat: no-repeat


// Video background
// -----------------------------
.bg-video-filled
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	z-index: 1
	background-color: $black
	opacity: 0
	transition: opacity 1s
	&.ready
		opacity: 1
	video
		width: 100%
		height: 100%
		object-fit: cover
		overflow: hidden
