// box gradient overlay shadow
=overlay-gradient-shadow($opacity: 0.5, $position: relative, $height: 50%)
  position: $position
  img
    position: relative
    z-index: 0
  &:after
    content: ""
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: $height
    z-index: 2
    pointer-events: none
    opacity: $opacity
    transition: opacity 500ms, height 500ms
    @include gradient-vertical(transparent, rgba(0,0,0,0.85))

=overlay-gradient-shadow-hover($opacity: 0.5, $height: 50%)
  &:after
      height: $height
      opacity: $opacity

// link border underline
=link-underline($color: #fff, $path: 0 100% 0 100%, $opacity: 0, $origin: center, $width: 100%)
  position: relative
  &:after
    content: ""
    position: absolute
    width: $width
    display: inline
    height: 1px
    bottom: -4px
    left: 0
    background-color: $color
    opacity: $opacity
    clip-path: inset($path)
    transition: clip-path 0.45s $easeInOutQuad
    transform-origin: $origin
  &:hover,
  &:active,
  &:focus,
  &.active
    &:after
      opacity: 1
      clip-path: inset(0 0 0 0)

// centered inner
=centered-inner
  display: flex
  align-items: center
  align-content: center
  justify-content: center

// layout boxes
// Used in : products, expertises
// --------------------------------
=layout-boxes
  // margin-bottom: -25px

  // remove extra margin
  .columns
    margin-bottom: 0

  // description with title
  .layout-box--description
    padding: 80px
    .is-6
      font-size: 14px
      color: $grey-light

  // default for figures
  figure.layout-box--post-thumbnail
    &.is-half
      img
        transform: translateY(-80px)

  // post image gallery overides
  .post--image-gallery
    @include desktop
      margin-left: 0
      margin-right: 0
    @include widescreen
      margin-left: -1.5vw
      margin-right: -1.5vw
    @include fullhd
      margin-left: -7vw
      margin-right: -7vw

  // thumbnail gallery
  .post--gallery-thumbnail
    padding-bottom: $grid-padding * 2
    a:focus
      outline: none

  // ------
  // Layout dispositions variations
  // ------

  // pull up first item in list
  &:nth-child(1)
    transform: translate(0,-60px)
    .layout-box--description
      padding-top: 120px

  // invert margin on last item
  &:last-child
    margin-bottom: 50px

  &.full-width

  &.half-width
    .layout-box--description
      padding-top: 40px
      padding-bottom: 40px

  &.image-on-left
    .layout-box--description
      padding-bottom: 0
    > .columns > figure.layout-box--post-thumbnail
        order: 0
        img
          transform: translate(-68px,0)
    > .columns > aside
        order: 1

  &.image-on-right
    .layout-box--description
      padding-bottom: 0
    > .columns > figure.layout-box--post-thumbnail
        order: 1
        img
          transform: translate(68px,0)
    > .columns > aside
        order: 0
