//
// Easing functions
//

$easeInQuad:        cubic-bezier(0.550, 0.085, 0.680, 0.530)
$easeInCubic:       cubic-bezier(0.550, 0.055, 0.675, 0.190)
$easeInQuart:       cubic-bezier(0.895, 0.030, 0.685, 0.220)
$easeInQuint:       cubic-bezier(0.755, 0.050, 0.855, 0.060)
$easeInSine:        cubic-bezier(0.470, 0.000, 0.745, 0.715)
$easeInExpo:        cubic-bezier(0.950, 0.050, 0.795, 0.035)
$easeInCirc:        cubic-bezier(0.600, 0.040, 0.980, 0.335)
$easeInBack:        cubic-bezier(0.600, -0.280, 0.735, 0.045)
$easeOutQuad:       cubic-bezier(0.250, 0.460, 0.450, 0.940)
$easeOutCubic:      cubic-bezier(0.215, 0.610, 0.355, 1.000)
$easeOutQuart:      cubic-bezier(0.165, 0.840, 0.440, 1.000)
$easeOutQuint:      cubic-bezier(0.230, 1.000, 0.320, 1.000)
$easeOutSine:       cubic-bezier(0.390, 0.575, 0.565, 1.000)
$easeOutExpo:       cubic-bezier(0.190, 1.000, 0.220, 1.000)
$easeOutCirc:       cubic-bezier(0.075, 0.820, 0.165, 1.000)
$easeOutBack:       cubic-bezier(0.175, 0.885, 0.320, 1.275)
$easeInOutQuad:     cubic-bezier(0.455, 0.030, 0.515, 0.955)
$easeInOutCubic:    cubic-bezier(0.645, 0.045, 0.355, 1.000)
$easeInOutQuart:    cubic-bezier(0.770, 0.000, 0.175, 1.000)
$easeInOutQuint:    cubic-bezier(0.860, 0.000, 0.070, 1.000)
$easeInOutSine:     cubic-bezier(0.445, 0.050, 0.550, 0.950)
$easeInOutExpo:     cubic-bezier(1.000, 0.000, 0.000, 1.000)
$easeInOutCirc:     cubic-bezier(0.785, 0.135, 0.150, 0.860)
$easeInOutBack:     cubic-bezier(0.680, -0.550, 0.265, 1.550)



//
// Positions
//
.absolute-centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%,-50%,0)
  z-index: 100

.centered-inner
  display: flex
  align-items: center
  align-content: center
  justify-content: center

// Misc
// -------------------------

.inner-relative,
.relative-inner
  position: relative


.auto-height
  height: 100%


.auto-height-relative
  height: 100%
  position: relative


.no-margin
  margin: 0 !important
  &--top
    margin-top: 0 !important

  &--bottom
    margin-bottom: 0 !important

.no-padding
  padding: 0 !important

.no-border
  border: none !important
  border-width: 0 !important

// add extra left or right padding
.is-left-padded
  padding-left: (100% / 12)

.is-half-left-padded
  padding-left: (100% / 12) / 2

.is-right-padded
  padding-right: (100% / 12)

.is-half-right-padded
  padding-right: (100% / 12) / 2

// add extra top and bottom spacing using padding
.is-with-vertical-spacer
  padding-top: $grid-padding * 2
  padding-bottom: 110px


//
// Text transformation
//

.uppercase
  text-transform: uppercase


.capitalize
  text-transform: capitalize


.text-left
  text-align: left


.text-center, .center
  text-align: center


.text-right
  text-align: right

.is-highlighted
  background-color: transparentize($yellow, 0.75)


.is-inlined
  > li
    display: inline-block

.is-unstyled
  list-style: none

.is-demo-bold
  font-weight: 500

.is-bold
  font-weight: 600


// Color transform
// -------------------------

.is-green
  color: $green !important


.is-turquoise
  color: $turquoise !important


.is-red
  color: $red !important



// Floats
// -------------------------

.clearfix
  @include clearfix

.pull-right
  float: right

.pull-left
  float: left

.is-pull-right
  margin-left: auto

.is-pull-left
  margin-right: auto




// Toggling content
// -------------------------

.hide
  display: none !important


.show
  display: block


.invisible
  visibility: hidden


.text-hide
  text-indent: -10000px





// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden
  display: none !important



// For Affix plugin
// -------------------------

.affix
  position: fixed
